

.content-4{
    height: 400px;
    width: 1836px;
    background-image: url("image/slider-1.jpg");
    background-size: cover;
}
.m7{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.m7 h2,p{
    padding: 10px 0px;
}
.m7 input{
    background: none;
    border: 1px solid white;
    color: white;
}