

.content-4{
    height: 400px;
    width: 1836px;
    background-image: url("https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-9/60233623_846744705660927_2617933616616833024_n.jpg?_nc_cat=111&_nc_oc=AQkPQxhZaQuZ7Su4rUzW0snxTiPGY1XMmm3L2Udpgu0nc94rO1UOXNhOVKi0FDEvfDw&_nc_ht=scontent.fhan2-2.fna&oh=9cce0fce1ad0b5cf57510199a78c8685&oe=5D2DDB52");
    background-size: cover;
}
.m7{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.m7 h2,p{
    padding: 10px 0px;
}
.m7 input{
    background: none;
    border: 1px solid white;
    color: white;
}
